.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.meals-list{
    animation: slideUp 1s ease-out;
    max-width:90%;
    width:55rem;
    margin: 0 auto;
}
@keyframes slideUp{
    0%{
        transform: translateY(3rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}