
.meal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
}
.price{
    color: rgb(218, 99, 3);
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.25rem;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    color:black;
}
.amount-container{
    margin-top: 0.25rem;
    display: flex;
    gap:3rem;
    align-items: center;
}
.quantity{
    border:1px solid #bdbaba;
    background-color: #e9e5e5;
    padding: 0.2rem 0.25rem;
    padding-top: 0;
    border-radius: 0.5rem;
    font-size: 0.75rem;
}

.btn-group{
    display: flex;
    gap:0.5rem;
}
.btn{
    background-color: transparent;
    border:1px solid #ccc;
    padding: 0.4rem 0.5rem;
    border-radius: 0.3rem;
}
.btn:hover{
    cursor: pointer;
}
