.button{
    font:inherit;
    color:white;
    border:none;
    background-color: rgb(44, 43, 43);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem 3rem;
    border-radius: 2rem;
    font-weight: bold;
    gap:1rem;
}
.button:hover,
.button:active{
    background-color: rgb(17, 15, 15);
    cursor: pointer;
}
.badge{
    background-color: rgb(223, 53, 31);
    border-radius: 1.75rem;
    padding: 0.3rem 1rem;
    align-self: center;
    align-self: center;
}
.icon{
    width:1.35rem;
    height: 1.35rem;
}
.button:hover .badge,
.button:active .badge{
    background-color: rgb(224, 81, 37);
}

.bump {
    animation: bump 0.3s ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.7);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }