.back-drop{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.75);
    z-index: 20;
}
.modal{
    position: fixed;
    top:20vh;
    left:25%;
    width:50%;
    max-width:90%;
    z-index: 30;
    animation: slideDown 0.3s ease-out;
}
@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-3rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}